<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
      <span><h5>Costing</h5></span>
      <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle" class="align-text-bottom"></span>
      </a>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'monthly_cost' %}" onclick="makeBold(this)">
          <span data-feather="file-text" class="align-text-bottom"  ></span>
            <h5 class="side-nav" >Monthly Cost</h5>
          
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'search' %}" onclick="makeBold(this)">
      
          <h5  class="side-nav">Cost Data</h5>
          
        </a>
      </li>
    </ul>
  </div>
</nav>
<script>
    var currentUrl = window.location.href;
  
    // select the navigation links and loop through them
    var navLinks = document.querySelectorAll('.nav-link');
    for (var i = 0; i < navLinks.length; i++) {
      var navLink = navLinks[i];
      
      // get the URL of the link
      var linkUrl = navLink.getAttribute('href');
      
      // check if the current URL matches the link URL
      if (currentUrl.indexOf(linkUrl) !== -1) {
        // add the 'selected' class to the link
        navLink.querySelector('h5').classList.add('selected');
        navLink.classList.add('nav-selected')
      } else {
        // remove the 'selected' class from the link
        navLink.querySelector('h5').classList.remove('selected');
        navLink.classList.remove('nav-selected')
      }
    }
  </script>
  <style>
  .selected {
      font-weight: bold;
  }
  .nav-selected{
    background-color: #f2f2f2;
  }
  </style>