{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/costing/costing.css'%}" rel="stylesheet">
<div class="container p-3">
    <h4>Add New Job</h4>
    <hr>
    <form action="" method="post" class="">
        {% csrf_token %}

        <div class="row">
          <div class="col">
            <div class="row align-items-stretch grid-container">
            {% for sheet in printing_sheet %}
              <div class="col">
                <div class="card h-100  border-rounded">
                  <div class="card-body text-center">
                    <input type="hidden" name="printingSheetName" value="{{sheet.Printing_Sheet}}">
                    <h5><b>{{sheet.Printing_Sheet}}</b></h5>
                    <div class="rate-display" onclick="editRate(this)">
                        <h6>{{sheet.Rate}}</h6>
                        <input type="" name="printingSheetRate" class="form-control" value="{{sheet.Rate}}" style="display: none;" required>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            {% for sheet in lamination_sheet %}
              {% if sheet.Lamination_Sheet != 'Met' %}
                <div class="col">
                  <div class="card h-100  border-rounded">
                    <div class="card-body text-center">
                      <input type="hidden" name="laminationSheetName" value="{{sheet.Lamination_Sheet}}">
                      <h5><b>{{sheet.Lamination_Sheet}}</b></h5>
                      <div class="rate-display" onclick="editRate(this)">
                          <h6>{{sheet.Rate}}</h6>
                          <input type="" name="laminationSheetRate" class="form-control" value="{{sheet.Rate}}" style="display: none;" required>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            {% for sheet in miscellaneous %}
              <div class="col">
                <div class="card h-100  border-rounded">
                  <div class="card-body text-center">
                    <input type="hidden" name="miscellaneousType" value="{{sheet.Type}}">
                    <h5><b>{{sheet.Type}}</b></h5>
                    <div class="rate-display" onclick="editRate(this)">
                        <h6>{{sheet.Rate}}</h6>
                        <input type="" name="miscellaneousRate" class="form-control" value="{{sheet.Rate}}" style="display: none;" required>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="card w-100 border-rounded">
              <div class="card-body">
                <div class="row">
                {% for field in basicJobForm %}
                    <div class="col">
                        {% if field.label_tag.attrs.style != "display: none;" %}
                            {{ field.label_tag }}
                        {% endif %}
                        {{field}}
                    </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col w-100">
            <div class="card h-100 border-rounded">
              <div class="card-body">
                Printing
                <div class="mt-3">
                  {{printingForm.Printing_Type}}
                  <div id="dynamicFieldsPrinting">
                      {{printingDynamicFields.as_p}}
                      {{inkCost.as_p}}
                  </div>   
                </div>
                  
              </div>
            </div>
          </div>
          <div class="col laminationColumn">
            <div class="card h-100 border-rounded">
              <div class="card-body">
                {% block dropdown_section %}
                Lamination
                
                    <div class="dropdown-section mt-3" id="dynamicFieldsLamination">
                        {{laminationForm.Lamination_Type}}
                        {{laminationDynamicFields.as_p}}
                    </div>
                    <a href="#" id="add-dropdown" class="float-right link-color">Add another dropdown</a>
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col">
            <div class="card w-100 border-rounded">
              <div class="card-body">
                <div class="row">
                {% for field in otherElementsForm %}
                  <div class="col">
                      {% if field.label %}
                          {{field.label}}
                      {% endif %}
                      {{field}}
                  </div>
                {% endfor %}
              </div>
            </div>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input class="btn btn-dark mt-3 float-right w-100" type="submit" value="SAVE"/>
          </div>
        </div>
            
          

    </form>
</div>

<script src="{% static 'js/costing/addCosting.js' %}"></script>
{% endblock %}

