{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container mt-2">
    {% include 'partials/_message.html' %}

    <form action="{% url 'calculate_cost' %}" method="post">
        {% csrf_token %}
        <h4><b>Calculate Job Cost</b></h4>
        <hr>
        <div class="costing-form">
            <div class="row">
                <div class="col input-group mb-3">
                    <input type="date" id="date" name="date" class="form-control">
                </div>
                <div class="col input-group flex-nowrap mb-3">
                    <input type="text" class="form-control" placeholder="Job Name" name="Job Name" aria-label="Job Name" aria-describedby="addon-wrapping">
                </div>
                <div class="col input-group flex-nowrap mb-3">
                    <input type="text" class="form-control" placeholder="Job Size" name="Job Size" aria-label="Job Size" aria-describedby="addon-wrapping">
                </div>
            </div>
            
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <select name="printing" class="custom-select" id="printing">
                            <option name="printing" selected>Choose Printing...</option>
        
                            {% for printing in printing %}
                            <option name="printing" value="{{printing.name}}">{{printing.name}}</option>
                    
                            {% endfor %}
                        </select>
                    </div>
                    <div class="printing-input input-group flex-nowrap"></div>
                    <div class="input-group flex-nowrap mb-3">
                        <input type="text" class="form-control" placeholder="INK COST P.KG" name="INK COST P.KG" aria-label="INK COST P.KG" aria-describedby="addon-wrapping">
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <select name="lamination" class="custom-select select-group-lamination" id="lamination">
                            <option name="lamination" selected>Choose Lamination...</option>
        
                            {% for lamination in lamination %}
                            <option name="{{lamination.name}}" value="{{lamination.name}}">{{lamination.name}}</option>
                    
                            {% endfor %}
                        </select>
                    </div>
                    <div class="lamination-input input-group flex-nowrap"></div>
                    <div id="addLaminationField"></div>

                    <div class="controls mb-3">
                        <a href="#" id="add-lamination"><i class="fa fa-plus"></i>Add Lamination</a>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group flex-nowrap mb-3">
                        <input type="text" class="form-control" placeholder="Zipper Qty" name="Zipper Qty" aria-label="Coating Cost" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <input type="text" class="form-control" placeholder="Coating Cost" name="Coating Cost" aria-label="Coating Cost" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <input type="text" class="form-control" placeholder="Sliting Output" name="Sliting Output" aria-label="Sliting Output" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <input type="text" class="form-control" placeholder="Trim Wastage" name="Trim Wastage" aria-label="Trim Wastage" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <input type="text" class="form-control" placeholder="Finished Goods" name="Finished Goods" aria-label="Finished Goods" aria-describedby="addon-wrapping">
                    </div>
                    <div class="input-group-append">
                        <input class="btn btn-primary" type="submit" value="save"/>
                    </div>
                </div>

                    
            </div>
            
        </div>

    </form>


</div>
<script>
    var contextLamination = "{{lamination|safe}}";
</script>
<script src="{% static 'js/costing/costing.js' %}"></script>



{% endblock %}