{% extends 'base_auth.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-2">
                    <h4>Login to your account</h4>
                </div>
                <form action="{% url 'login' %}" method="post">

                    {% csrf_token %}
                    {% include 'partials/_message.html' %}
                    <div class="form-group py-2">
                        <input type="text" value="{{field_values.username}}" placeholder="Username" name="username" id="usernameField" class="form-controller w-100 form-controller-lg"/>
                    </div>
                    <div class="form-group py-2">
                        <input type="password" placeholder="Password" name="password" id="passwordField" class="form-controller form-controller-sm w-100"/>
                        <small class="float-right py-3 showPasswordToggle">SHOW</small>
                    </div>
                    <input type="submit" value="Login" class="btn btn-block btn-primary w-100 submit-btn" id="submit-btn"/>
                    <br>
                    <div style="text-align: center;">
                        <span>New User? </span>
                        <a href="/authentication/register">Create Account</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/login.js' %}"></script>
{% endblock content %}