:root {
    --my-custom-color: ; /* Define a custom color variable */
  }
  .border-rounded {
    border-radius: 20px; /* adjust the value to change the amount of curvature */
    background-color: whitesmoke;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
  }
.form-control {
    background-color: #eceef0;
    border: none;
  }
.link-color {
  color: #6c7293;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
}
.active-page{
  background-color: transparent;
  border-color: transparent;
  color: #6c7293;
}

.pagination .page-item.active .page-link {
  background-color: transparent;
  border-color: transparent;
  color: #38d0b2; /* change this to your desired color */
}